body {
    background: #ddd;
    font-family: Arial, sans-serif;
}

.card {
    margin: auto;
    max-width: 800px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
    background-color: white;
    padding: 20px;
}

h1, h5 {
    text-align: center;
    color: #333;
}

.table {
    background-color: white;
}
